body{
  background-color: #9266ff;
}

.todo-form {
  background-color: #3f3160;
  min-height: 500px;
  width: 500px;
  margin: 40px auto;
}

.todo-form input{
  height: 50px;
  width: 200px;
  background-color: rgb(27,112,137);
  border-radius: 10px;
  border: 0;
  color: white;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px
}

.todo-form input::placeholder {
  color: white;
}

.todo-form input:focus {
  outline: none;
}

.todo-form button:focus{
  outline: none;
}

.todo-form button{
  height: 40px;
  width: 80px;
  background-color: orange;
  color: black;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}